div(id="contenedorUsuarios")
    label(for="usuario")= 'Ingrese su usuario'
    input(type="text" name='usuario' id="usuario" required)
    button(onclick="ingresarUsuario(this)" id="btnUsuario")="Ingresar"