#producto {
    margin-left: 10px;
}

#medida{
    margin-left: 19px;
}

#precio {
    margin-left: 27px;
}

.tabla {
    border: 1px solid black;
    border-collapse: separate;
}

th {
    padding: 5px;
}

td {
    border: 0.5px solid black;
    padding-left: 12px;
    text-align: start;
}

#productoNuevo {
    margin-bottom: 20px;
}

.horaMensaje{
    font-size: 12px;
    display: inline;
}

.usuarioMensaje {
    display: inline;
    font-size: 20px;
    color: green;
}

#usuario {
    margin-left: 10px;
}

#mensaje {
    margin-left: 10px;
}
