div(id="contenedorChat")
    h1="Chat"
    div(id="mensajes")
    label(for="mensaje")= 'Escriba aqui'
    input(type="text" name='mensaje' id="mensaje" required)
    button(onclick="enviarMensaje(this)" id="btnMensaje")="Enviar"