html    
    head    
        meta(charset="UTF-8")
        title='App clase 12'
        link(rel="stylesheet", href="styles.css")
        script(src="/socket.io/socket.io.js")
    body    
        h1= 'Agregar productos'
        include components/formulario
        include components/listas
        include components/usuario
        include components/chat
        script(src="main.js")